.btn{
	text-transform:uppercase;
	font-weight:700;
}
.btn-primary{
	background:$secondary-color;
	border-color:$secondary-color;

	&:hover{
		background:shade($secondary-color,10%);
		border-color:shade($secondary-color,10%);
	}
	&:active{
		background:shade($secondary-color,30%)!important;
		border-color:shade($secondary-color,30%)!important;
	}
}