%form#contact-form{:action => "/contact.php", :method => "post", :role => "form"}
  .messages
  .controls
    .form-group
      %label{:for => "form_email"} Email
      %input#form_email.form-control{"data-error" => "Valid email is required.", :name => "email", :placeholder => "e.g. jane@doe.com", :required => "required", :type => "email"}
      .help-block.with-errors
    .form-group
      %label{:for => "form_message"} What's your #1 fine curly hair question?
      %textarea#form_message.form-control{"data-error" => "Please, leave us a message.", :name => "message", :placeholder => "Your question here...", :required => "required", :rows => "4"}
      .help-block.with-errors
    %input.btn.btn-primary.btn-send.btn-lg.btn-block{:type => "submit", :value => "GET MY FREE EBOOK", :onclick=>"gtag_report_conversion()"}
