%section
	.container
		.row
			.col-lg-12
				.text-center
					%img.logo{:src=>"/images/logo.svg"}
%section
	.container
		.row
			.col-lg-12
				.text-center
					%h1
						Free ebook:
						%strong
							Fine Curly Care Guide
					%h2.primary-text-color.no-margin-bottom
						%em
							12 Commandments for Fine, Curly Hair
%section
	.container
		.row
			.col-lg-5.order-lg-2
				.form-panel
					.text-center
						%h3
							%strong.line-through
								$19.99
							%em
								Yours free
						%p
							When you fill out this form
					= partial "shared/form"
			.col-lg-7.order-lg-1
				.row
					.col-lg-4.order-lg-2
						.text-center
							%img.max-width.book-img{:src=>"/images/book.png", :width=>"162px"}
					.col-lg-8.order-lg-1
						%h3.text-center-sm
							Finally, a book just for 
							%br
							women with fine, curly hair! 
						%p
							Fine, curly hair is one of the most challenging hair types out there.
							That’s why we can’t wait to share with you the long awaited definitive guide to fine, curly hair. Just tell us your number one fine, curly hair question and receive a FREE copy of the Fine Curls Care Guide, delivered directly to your inbox, as soon as it is released. 
						%p
							%strong
								With this book, you will finally learn: 
						%ul.check-list.list-unstyled.padding-bottom
							%li
								The best types of products for your hair type
							%li
								Homemade product recipes 
							%li
								How best to maintain volume and definition 
							%li
								The best haircuts for you hair type 
